In [5]:
#Api Integration

import requests
import pandas as pd
url = "https://api.coingecko.com/api/v3/coins/markets"
params = {

    'vs_currency': 'usd',    # Currency to convert the cryptocurrency to

    'order': 'market_cap_desc',  # Order by market cap descending

    'per_page': 20,          # Number of results per page

    'page': 1                # Page number

}
response = requests.get(url, params=params)
if response.status_code == 200:
    data = response.json() 
else:
    print("Failed to retrieve data")
    data = []
df = pd.DataFrame(data)
df.head()

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://coin-images.coingecko.com/coins/images...,63469.000000,1254792111158,1,1333253508754,17634623499,63910.000,...,2.100000e+07,21000000.0,73738.00,-14.04714,2024-03-14T07:10:36.635Z,67.810000,9.336822e+04,2013-07-06T00:00:00.000Z,None,2024-10-07T03:57:52.463Z
1,ethereum,eth,Ethereum,https://coin-images.coingecko.com/coins/images...,2492.300000,300104058743,2,300104058743,9978454450,2510.000,...,1.203791e+08,NaN,4878.26,-48.92750,2021-11-10T14:24:19.604Z,0.432979,5.753206e+05,2015-10-20T00:00:00.000Z,"{'times': 51.49441987122252, 'currency': 'btc'...",2024-10-07T03:57:54.452Z
2,tether,usdt,Tether,https://coin-images.coingecko.com/coins/images...,0.999547,119607272504,3,119607272504,35614324585,1.003,...,1.196773e+11,NaN,1.32,-24.46634,2018-07-24T00:00:00.000Z,0.572521,7.455819e+01,2015-03-02T00:00:00.000Z,None,2024-10-07T03:57:59.787Z
3,binancecoin,bnb,BNB,https://coin-images.coingecko.com/coins/images...,572.920000,83618776947,4,83618776947,575006022,576.540,...,1.458876e+08,200000000.0,717.48,-20.35153,2024-06-06T14:10:59.816Z,0.039818,1.435086e+06,2017-10-19T00:00:00.000Z,None,2024-10-07T03:58:00.881Z
4,solana,sol,Solana,https://coin-images.coingecko.com/coins/images...,149.800000,70313586428,5,87822075254,1857232425,150.630,...,5.859731e+08,NaN,259.96,-42.55167,2021-11-06T21:54:35.825Z,0.500801,2.972066e+04,2020-05-11T19:35:23.449Z,None,2024-10-07T03:57:58.899Z

In [8]:
#Example2

import requests

import pandas as pd
url = "https://api.coingecko.com/api/v3/coins/markets"

params = {

    "vs_currency": "usd",  # Currency to compare against

    "order": "market_cap_desc",  # Sort by market cap descending

    "per_page": 10,  # Number of coins to fetch

    "page": 1,  # Page number for pagination

    "sparkline": "false"  # Exclude sparkline data for simplicity

}
response = requests.get(url, params=params)
if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)
    print(df.head())

else:
    print(f"Failed to fetch data. Status code: {response.status_code}")

            id symbol      name  \
0      bitcoin    btc   Bitcoin
1     ethereum    eth  Ethereum
2       tether   usdt    Tether
3  binancecoin    bnb       BNB
4       solana    sol    Solana

                                               image  current_price  \
0  https://coin-images.coingecko.com/coins/images...   63636.000000
1  https://coin-images.coingecko.com/coins/images...    2494.740000
2  https://coin-images.coingecko.com/coins/images...       0.999966
3  https://coin-images.coingecko.com/coins/images...     575.230000
4  https://coin-images.coingecko.com/coins/images...     150.310000

      market_cap  market_cap_rank  fully_diluted_valuation  total_volume  \
0  1257701455331                1            1336344772472   19007191713
1   300391932023                2             300391932023    9179503526
2   119673833049                3             119673833049   36007154039
3    83918830447                4              83918830447     533562795
4    70522725501                5              88083308730    1888991876

    high_24h  ...  total_supply   max_supply       ath  ath_change_percentage  \
0  63910.000  ...  2.100000e+07   21000000.0  73738.00              -13.69994
1   2510.000  ...  1.203791e+08          NaN   4878.26              -48.85916
2      1.003  ...  1.196773e+11          NaN      1.32              -24.42187
3    576.540  ...  1.458876e+08  200000000.0    717.48              -19.82460
4    150.630  ...  5.859731e+08          NaN    259.96              -42.29110

                   ath_date        atl  atl_change_percentage  \
0  2024-03-14T07:10:36.635Z  67.810000           9.374578e+04
1  2021-11-10T14:24:19.604Z   0.432979           5.760906e+05
2  2018-07-24T00:00:00.000Z   0.572521           7.466096e+01
3  2024-06-06T14:10:59.816Z   0.039818           1.444581e+06
4  2021-11-06T21:54:35.825Z   0.500801           2.985592e+04

                   atl_date  \
0  2013-07-06T00:00:00.000Z
1  2015-10-20T00:00:00.000Z
2  2015-03-02T00:00:00.000Z
3  2017-10-19T00:00:00.000Z
4  2020-05-11T19:35:23.449Z

                                                 roi              last_updated
0                                               None  2024-10-07T04:20:43.809Z
1  {'times': 51.4157776311835, 'currency': 'btc',...  2024-10-07T04:20:48.488Z
2                                               None  2024-10-07T04:20:40.060Z
3                                               None  2024-10-07T04:20:42.364Z
4                                               None  2024-10-07T04:20:43.893Z

[5 rows x 26 columns]

In [12]:
import requests

import pandas as pd


# Define the API endpoint for OpenWeatherMap

url = "http://api.openweathermap.org/data/2.5/weather"

# Replace 'your_api_key' with your actual OpenWeatherMap API key

api_key = '6c8bca0809988d903aa8434f398c6fe5'


# Specify the city for which you want to fetch weather data

city = "London"


# Define parameters for the API request

params = {

    "q": city,

    "appid": api_key,

    "units": "metric"  # Use "metric" for Celsius

}


# Make a GET request to the OpenWeatherMap API

response = requests.get(url, params=params)


# Check if the request was successful (status code 200)

if response.status_code == 200:

    # Convert the JSON response to a dictionary

    data = response.json()


    # Extract relevant information from the data

    weather_data = {

        "City": [data["name"]],

        "Weather": [data["weather"][0]["description"]],

        "Temperature (C)": [data["main"]["temp"]],

        "Humidity (%)": [data["main"]["humidity"]],

        "Wind Speed (m/s)": [data["wind"]["speed"]]

    }


    # Create a pandas DataFrame from the dictionary

    df = pd.DataFrame(weather_data)


    # Display the first few rows of the DataFrame

    print(df.head())

else:

    print(f"Failed to fetch data. Status code: {response.status_code}")

     City        Weather  Temperature (C)  Humidity (%)  Wind Speed (m/s)
0  London  broken clouds            12.39            92              3.44

In [20]:
#issing Values Example1

import pandas as pd

import numpy as np

from scipy import stats
data = {

    'A': [10, 12, 13, 14, 15, 100, 16, 17, 18, 19,32,97],

    'B': [20, 22, 23, 24, 25, 30, 26, 27, 28, 29,45,87]   

}
df = pd.DataFrame(data)
z_scores = np.abs(stats.zscore(df))
threshold = 2 # You can adjust this value

outliers = (z_scores > threshold).any(axis=1)


cleaned_df = df[~outliers]
print("Original DataFrame:")

print(df)

print("\nCleaned DataFrame:")

print(cleaned_df)

Original DataFrame:
      A   B
0    10  20
1    12  22
2    13  23
3    14  24
4    15  25
5   100  30
6    16  26
7    17  27
8    18  28
9    19  29
10   32  45
11   97  87

Cleaned DataFrame:
     A   B
0   10  20
1   12  22
2   13  23
3   14  24
4   15  25
6   16  26
7   17  27
8   18  28
9   19  29
10  32  45

In [14]:
#Missing Values Example2
import pandas as pd

import numpy as np


# Create a DataFrame representing stock prices with some missing values

data = {

    'Stock': ['AAPL', 'GOOG', 'TSLA', 'AMZN', 'MSFT'],

    'Price': [150, np.nan, 750, 3300, np.nan],

    'Volume': [10000, 15000, np.nan, 20000, 25000],

    'Change (%)': [1.5, -2.3, np.nan, 0.5, -1.2]

}
df = pd.DataFrame(data)

print("Original DataFrame with Missing Values:")

print(df)
df_dropped = df.dropna()

print("\nDataFrame after Dropping Rows with Missing Values:")

print(df_dropped)


# 2. Filling missing values with a specific value (e.g., 0)

df_filled_with_zero = df.fillna(0)

print("\nDataFrame after Filling Missing Values with 0:")

print(df_filled_with_zero)


# 3. Filling missing values with the mean of each column

df_filled_with_mean = df.copy()  # Create a copy to preserve the original data

df_filled_with_mean['Price'] = df['Price'].fillna(df['Price'].mean())

df_filled_with_mean['Volume'] = df['Volume'].fillna(df['Volume'].mean())

df_filled_with_mean['Change (%)'] = df['Change (%)'].fillna(df['Change (%)'].mean())

print("\nDataFrame after Filling Missing Values with Mean:")

print(df_filled_with_mean)

Original DataFrame with Missing Values:
  Stock   Price   Volume  Change (%)
0  AAPL   150.0  10000.0         1.5
1  GOOG     NaN  15000.0        -2.3
2  TSLA   750.0      NaN         NaN
3  AMZN  3300.0  20000.0         0.5
4  MSFT     NaN  25000.0        -1.2

DataFrame after Dropping Rows with Missing Values:
  Stock   Price   Volume  Change (%)
0  AAPL   150.0  10000.0         1.5
3  AMZN  3300.0  20000.0         0.5

DataFrame after Filling Missing Values with 0:
  Stock   Price   Volume  Change (%)
0  AAPL   150.0  10000.0         1.5
1  GOOG     0.0  15000.0        -2.3
2  TSLA   750.0      0.0         0.0
3  AMZN  3300.0  20000.0         0.5
4  MSFT     0.0  25000.0        -1.2

DataFrame after Filling Missing Values with Mean:
  Stock   Price   Volume  Change (%)
0  AAPL   150.0  10000.0       1.500
1  GOOG  1400.0  15000.0      -2.300
2  TSLA   750.0  17500.0      -0.375
3  AMZN  3300.0  20000.0       0.500
4  MSFT  1400.0  25000.0      -1.200

In [15]:
#Missing Values Example3
import pandas as pd
import numpy as np
# Create a DataFrame representing weather data with some missing values

data = {

    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],

    'Temperature (C)': [25.3, np.nan, 18.7, 29.1, np.nan],

    'Humidity (%)': [60, 65, np.nan, 70, 55],

    'Precipitation (mm)': [2.5, 0.0, np.nan, 1.2, np.nan]

}


# Create the DataFrame

df = pd.DataFrame(data)

print("Original DataFrame with Missing Values:")

print(df)


# 1. Dropping rows with missing values

df_dropped = df.dropna()

print("\nDataFrame after Dropping Rows with Missing Values:")

print(df_dropped)


# 2. Filling missing values with a specific value (e.g., -1)

df_filled_with_value = df.fillna(-1)

print("\nDataFrame after Filling Missing Values with -1:")

print(df_filled_with_value)

df_filled_with_mean = df.copy()  # Create a copy to preserve the original data

df_filled_with_mean['Temperature (C)'] = df['Temperature (C)'].fillna(df['Temperature (C)'].mean())

df_filled_with_mean['Humidity (%)'] = df['Humidity (%)'].fillna(df['Humidity (%)'].mean())

df_filled_with_mean['Precipitation (mm)'] = df['Precipitation (mm)'].fillna(df['Precipitation (mm)'].mean())

print("\nDataFrame after Filling Missing Values with Mean:")

print(df_filled_with_mean)

Original DataFrame with Missing Values:
          City  Temperature (C)  Humidity (%)  Precipitation (mm)
0     New York             25.3          60.0                 2.5
1  Los Angeles              NaN          65.0                 0.0
2      Chicago             18.7           NaN                 NaN
3      Houston             29.1          70.0                 1.2
4      Phoenix              NaN          55.0                 NaN

DataFrame after Dropping Rows with Missing Values:
       City  Temperature (C)  Humidity (%)  Precipitation (mm)
0  New York             25.3          60.0                 2.5
3   Houston             29.1          70.0                 1.2

DataFrame after Filling Missing Values with -1:
          City  Temperature (C)  Humidity (%)  Precipitation (mm)
0     New York             25.3          60.0                 2.5
1  Los Angeles             -1.0          65.0                 0.0
2      Chicago             18.7          -1.0                -1.0
3      Houston             29.1          70.0                 1.2
4      Phoenix             -1.0          55.0                -1.0

DataFrame after Filling Missing Values with Mean:
          City  Temperature (C)  Humidity (%)  Precipitation (mm)
0     New York        25.300000          60.0            2.500000
1  Los Angeles        24.366667          65.0            0.000000
2      Chicago        18.700000          62.5            1.233333
3      Houston        29.100000          70.0            1.200000
4      Phoenix        24.366667          55.0            1.233333