In [1]:
import sqlite3
conn = sqlite3.connect('student_db.sqlite')
cursor = conn.cursor()
cursor.execute('''

CREATE TABLE IF NOT EXISTS Student_data (

    id INTEGER PRIMARY KEY,
    Name TEXT,
    Div TEXT
)

''')
cursor.executemany('''

INSERT INTO Student_data (Name,Div)

VALUES (?, ?)

''', [

    ('Rushikesh', 'Div A'),

    ('Ezra', 'Div B'),
   
    ('Sabi','Div C')

])
conn.commit()
import pandas as pd
df = pd.read_sql_query("SELECT * FROM Student_data", conn)
df.head(3)

   id       Name    Div
0   1  Rushikesh  Div A
1   2       Ezra  Div B
2   3       Sabi  Div C